{% extends "layout2.html" %}
{% block content %}

        <div class="w3-row-padding w3-padding-32 w3-container">
          <div class="w3-content">
            <div class="w3-twothird">
              <h2>Ravi Teja</h2>
              <h5 class="w3-padding-8">Software Developer at ServiceNow</h5>
              <h5>Alumni of Bits Pilani Hyderabad Campus ( Graduated in 2018)</h5>

              <p class="w3-text-grey">Experience to be shared</p>
            </div>

            <div class="w3-third w3-center">
              <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
          </div>
        </div>

        <div class="w3-row-padding w3-light-grey w3-padding-32 w3-container">
          <div class="w3-content">
            <div class="w3-third w3-center">
              <img src="shivan.jpg">
            </div>

            <div class="w3-twothird">
              <h1>Shivan Reddy</h1>
              <h5 class="w3-padding-8">Software Developer at QualComm</h5>
              <h5>Alumni of Bits Pilani Hyderabad Campus ( Graduated in 2017)</h5>

              <p class="w3-text-grey">Experience to be shared</p>
            </div>
          </div>
        </div>

    </div>
{% endblock %}
