{% extends "layout2.html" %}
{% block content %}

        <div class="row marketing">
            <div class="col-lg-6">
                <h3>About the Course</h4>
                <h4><b>A successful career and a fulfilling personal life.
Can I have both?</b></h4>
<p>Specifically students and young professionals-oriented, a powerful life-skills program is designed to accelerate personal all-round excellence.

It is a smooth blend of ancient wisdom, yoga, pranayama (breath control), meditation and the Sudarshan Kriya, fused with contemporary intellectual exchanges. The YES!+ workshop ensures an energy boost that will give your life a kick where it is most needed. YES!+ is conducted across various premier institutions across the globe.</p>
<h4>Simple math for a personal and professional life blend instead of clash
<l>1. SHARPER CONCENTRATION = MORE HOURS in the day</l>
More often than not, working on a project or studies, focus comes along with tension (meeting deadlines daily!), in which case efficiency could be reduced even to 50%! Time is money and you can have both only when you have a calm and focused mind.
The YES!+ techniques are your easy way to get there.

For two and a half hours you can be glued to the screen when watching a movie or television series. How to have the same focus when you study or work?

<h4><l>2. ENERGY BOOST = unwavering CONFIDENCE</l><h4>
Lack of self-esteem and stage-fear happens when we doubt our own capabilities: I believe in myself (confidence) OR I do not feel ready to do (doubt). Doubt is a sign of low energy. The skill is in keeping energy levels high!
The powerful breathing techniques taught in the YES+ will infuse high energy levels in you, dissolving useless doubts and giving unwavering confidence.

<h4><l>3. DECISIONS MADE EASY - with crisp CLARITY</l></h4>
It is easy to say, “Don’t get angry. Don't feel jealous etc. But how?!
On top of this when we make a decision in this state, how can we get it right? We need to unclutter our mind by flushing out the emotional stress we pick up on a day-to-day basis with Sudarshan Kriya. This way we can perceive things as they are and intuitively make the right decisions.

<h4><c><l>The pre-requisites are</l></c><h4>

None.</p>

            </div>
        </div>


    </div>
{% endblock %}
