<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yes Plus BITS PILANI HYDERABAD CAMPUS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/Workshops">Upcoming Workshops</a>
                    </li>
                    <li role="presentation"><a href="/Experiences">Experiences</a>
                    </li>
                    <li role="presentation"><a href="/Contacts">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="jumbotron">
          <img src="pic_trulli.jpg" alt="BITS Logo">
            <h1>YES+ BITS Pilani Hyderabad Campus</h1>
            <p class="lead"></p>
        </div>
